body {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: #A1887F;
}

a {
  font-weight: bold;
  text-decoration: none;
  font-size: 2em;
  display: flex;
  padding-top: 16px;
  justify-content: center;  
  background: #795548;
  height: 100px;
  color: #EFEBE9;
}
a:visited {
  color: #EFEBE9;
  text-decoration: none;
}

.ingredients {
  background: #EFEBE9;
  margin: -42px 16px 16px 16px;
  border-radius:8px;
  padding: 8px 16px 16px 16px;
}

.ingredients > div {
  display: flex;
  padding:6px;
  align-items: center;
}

.ingredients > div:hover {
  background:#A1887F;
}

.ingredients > div > img {
  transition: transform 0.2s;
  height: 32px;
  margin: auto 16px auto 16px;
  background: #D7CCC8;
  border-radius:6px;
  border-width: 2px;
  border-style: solid;
  border-color: #BCAAA4;
  padding: 4px;
}

.ingredients > div > img:active {
  transform: scale(10);
}
.ingredients > div > hr {
  width: 100%;
  border-style: solid;
  border-color: #4E342E;
  border-width: 1px;
  position: absolute;
}

.ingredients > h2 {
  margin: 16px auto auto auto;
  display: flex;
  justify-content: center;
}

.ingredients > hr {
  width: 100%;
  border-color: #4E342E;
  border-style: dashed;
  border-bottom-width: 1px;
  margin: 0px;
}
